[Unit]
Description=The Bobst Oracle website
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/oleg/bobst
ExecStart=/usr/bin/node /home/oleg/bobst/server.js
Restart=on-failure
RestartSec=5
Environment=NODE_ENV=production

User=oleg
Group=oleg

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target
